<form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && register()" autocomplete="off">
  <h2 class="text-center">Luo käyttäjätunnus</h2>
  <hr>

  <section class="form-group">
    <input [class.is-invalid]='registrationForm.get("userName").errors && registrationForm.get("userName").touched'
    type="text" class="form-control" formControlName="userName" placeholder="Käyttäjätunnus">
    <div class="invalid-feedback">Anna käyttäjätunnus</div>
  </section>

  <section class="form-group">
    <input [class.is-invalid]='registrationForm.get("password").errors && registrationForm.get("password").touched'
    type="password" class="form-control" placeholder="Salasana" formControlName="password">
    <div class="invalid-feedback" *ngIf="registrationForm.get('password').hasError('required')">Anna salasana</div>
    <div class="invalid-feedback" *ngIf="registrationForm.get('password').hasError('minlength')">Tee salasanasta ainakin 8 merkkiä pitkä</div>
    </section>

  <section class="form-group">
    <input [class.is-invalid]='registrationForm.get("confirmPassword").errors && registrationForm.get("confirmPassword").touched'
    type="password" class="form-control" placeholder="Vahvista salasana" formControlName="confirmPassword">
    <div class="invalid-feedback" *ngIf="registrationForm.get('confirmPassword').hasError('required')">Vahvista salasana</div>
    <div class="invalid-feedback" *ngIf="registrationForm.get('confirmPassword').hasError('isMatching')">Salasanat eivät täsmää</div>
    </section>

  <section class="form-group text-center">
    <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary m-1">Tallenna</button>
    <button type="button" class="btn btn-secondary m-1" (click)="cancel()">Peru</button>
  </section>
</form>
